  #nav-home h1, #nav-maxhit h1, #nav-accuracy h1, #nav-defence h1, #nav-dps h1 {
    padding-left: 70px;
  }
  #nav-home p, #nav-maxhit p, #nav-accuracy p, #nav-defence p {
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
  }
  .query-results, table {
    padding: 2px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .query-results, tr, th, td {
    border: 1px solid;
    padding: 8px;
  }
  #calculatedmax, #calculateddps {
    color:red;
  }
  #calculatedaccuracy, #calculatedhitchance {
    color:green;
  }
  #calculateddefence {
    color: lightblue;
  }
  .dps-container {
    padding-left: 90px;
  }
  #attackspeed {
    width: 100px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
  }