  #nav-home p, h1 {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
  }
  #nav-query, #nav-monster, #nav-example {
    width: 800px;
    margin-left: 7%;
  }
  .query-results, table {
    padding: 2px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .query-results, tr, th, td {
    border: 1px solid;
    padding: 8px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
  }
  #monsteratkdefquery, #monstercountrarityquery, #monster_spell_lp_query, #monster_max_attack_query {
    margin: 10px;
  }